<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,79}</string>
                <key>spriteSourceSize</key>
                <string>{35,79}</string>
                <key>textureRect</key>
                <string>{{929,218},{35,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,79}</string>
                <key>spriteSourceSize</key>
                <string>{35,79}</string>
                <key>textureRect</key>
                <string>{{929,218},{35,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>big.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{929,76},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_root.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,242}</string>
                <key>spriteSourceSize</key>
                <string>{65,242}</string>
                <key>textureRect</key>
                <string>{{675,255},{65,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{734,528},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_ball_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,114}</string>
                <key>spriteSourceSize</key>
                <string>{115,114}</string>
                <key>textureRect</key>
                <string>{{900,368},{115,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{252,252}</string>
                <key>textureRect</key>
                <string>{{675,1},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_square_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{929,150},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,129}</string>
                <key>spriteSourceSize</key>
                <string>{36,129}</string>
                <key>textureRect</key>
                <string>{{900,484},{36,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>five.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,241}</string>
                <key>spriteSourceSize</key>
                <string>{324,241}</string>
                <key>textureRect</key>
                <string>{{432,1},{324,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,163}</string>
                <key>spriteSourceSize</key>
                <string>{164,163}</string>
                <key>textureRect</key>
                <string>{{734,322},{164,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,514}</string>
                <key>spriteSourceSize</key>
                <string>{342,514}</string>
                <key>textureRect</key>
                <string>{{1,541},{342,514}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hexagon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,111}</string>
                <key>spriteSourceSize</key>
                <string>{101,111}</string>
                <key>textureRect</key>
                <string>{{919,255},{101,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{771,555},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hollow_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{838,593},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hollow_ball_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{838,593},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>horn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{974,597},{36,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,538}</string>
                <key>spriteSourceSize</key>
                <string>{429,538}</string>
                <key>textureRect</key>
                <string>{{1,1},{429,538}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rectangle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,130}</string>
                <key>spriteSourceSize</key>
                <string>{34,130}</string>
                <key>textureRect</key>
                <string>{{938,484},{34,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_ball.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,18}</string>
                <key>spriteSourceSize</key>
                <string>{18,18}</string>
                <key>textureRect</key>
                <string>{{1003,76},{18,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{252,252}</string>
                <key>textureRect</key>
                <string>{{517,615},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>show.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,200}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{432,327},{300,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sm.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{838,555},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>small_root.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,111}</string>
                <key>spriteSourceSize</key>
                <string>{25,111}</string>
                <key>textureRect</key>
                <string>{{974,484},{25,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,39}</string>
                <key>spriteSourceSize</key>
                <string>{30,39}</string>
                <key>textureRect</key>
                <string>{{734,487},{30,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,76}</string>
                <key>spriteSourceSize</key>
                <string>{73,76}</string>
                <key>textureRect</key>
                <string>{{929,1},{73,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tnt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{771,487},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>triangular_terrain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{517,529},{65,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{252,252}</string>
                <key>textureRect</key>
                <string>{{771,635},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>one_red_ball.png</string>
            <key>size</key>
            <string>{1024,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1b2fbf3cc3b5c28df4ca04d73e48cda:13611b64424a0d486fbaf0823d9b3cce:862ce599f93773023db18349fed21241$</string>
            <key>textureFileName</key>
            <string>one_red_ball.png</string>
        </dict>
    </dict>
</plist>
